/* Move down content because we have a fixed navbar that is 3.5rem tall */


.nav-link{
   
    font-weight: bolder;

}

body {
    padding-top: 3.5rem;
    font-family: 'Raleway', sans-serif;
    background-color: #ed1e79;
    
}


b,strong {
    font-weight: 800;
}


.jumbotron{
    background:none;
}
.hero-section{
    background-image:url('../images/ozio_office_bw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    color: white;
    padding-bottom: 150px;
    
}

.textpink{
    color: #ed1e79;
 
}

.dot{
      color: #ed1e79;
    font-size: 4.5rem;
}


.header {
    font-size: 7.5rem;
    text-align: center;
}


    
main{
    background-color: #ed1e79;
    
}

.sub{
    text-align:center;
    color: white;
}




h2{
    text-align: center;
    color: white;
    font-size: 3.5rem;
}
p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.listgroup{
    
    display: block;
    list-style-type: disc;
    list-style-position: inside;
    position: relative;
    margin-top: 40px;
    left: -15px;
     
}


.btn-secondary{
    background-color : #ed1e79;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: -30px;
}

.btn-secondary:hover{
    background-color: white;
    color: black;
    border-color: white;
}
.passion{
    margin-top: 50px;
}

.row{
    margin-top: 40px;
}
h3{
    text-align: center;
    color: white;
    font-size: 1.4rem;
}



.lastozio{
    font-weight: 600;
}
  
.btn-sm{
    
    background-color: #696969;
    border: 3px solid #696969;
    border-left-width: 15px;
    border-right-width: 15px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}


.footer p{
    text-align: center;

    font-size: 0.7rem;

}

    color: white;
    font-weight: 600;
}

